@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Rowdies&display=swap");

.wrapper {
  background: url("../images/stars.png");
  height: 100vh;
  background-size: cover;
  background-color: #151718;
  .container {
    display: flex;
    justify-content: center;
    text-align: center;
    .content {
      padding-top: 100px;
      img {
        margin-bottom: 85px;
      }
      h1 {
        color: #4980c0;
        font-size: 96px;
        margin-bottom: 95px;
        font-weight: 400;
        font-family: "Rowdies", sans-serif;
      }
      button {
        width: 395px;
        height: 79px;
        border-radius: 7px;
        background-color: #4980c0;
        font-size: 22px;
        cursor: pointer;
        color: white;
      }
    }
  }
}
