@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lora:ital@1&family=Montserrat:wght@300;400&family=Old+Standard+TT&family=Playfair+Display:ital@1&family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lora:ital@1&family=Montserrat&family=Old+Standard+TT&family=Playfair+Display:ital@1&family=Tangerine&display=swap");

.wrapper_1 {
  height: 100vh;
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  .card {
    height: 565px;
    width: 500px;
    margin-top: 90px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      font-size: 50px;
      margin-bottom: 20px;
      font-family: "Montserrat", sans-serif;
    }
    h3 {
      font-size: 21px;
      font-weight: 300;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 20px;
    }
    p {
      margin: 20px 0 30px 0;
      font-size: 25px;
    }
    .searchDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 300px;
        height: 55px;
        background-color: #e6ebff;
        font-size: 16px;
        border: none;
        outline: none;
        padding: 0 10px;
        color: black;
      }
    }
    button {
      background-color: #4980c0;
      width: 240px;
      height: 45px;
      border: none;
      border-radius: 50px;
      margin-top: 30px;
      color: white;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
    }
    .addPhoto {
      width: 130px;
      height: 130px;
      background: #e6ebff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      border-radius: 50%;

      .camera {
        width: 70px;
        height: 65px;
        padding: 0 0 5px 5px;
      }
      img {
        cursor: pointer;
        width: 100%; 
        height: 100%;
        // border-radius: 50%;
        object-fit: cover;
      }
      .pictureUpload {
        max-width: 100%;
        max-height: 100%;
        margin-top: 20px;
        border-radius: 50%;
      }
      input {
        display: none;
      }
    }
  }
}
