@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Lora:ital@1&family=Montserrat:wght@300;400;700&family=Old+Standard+TT&family=Playfair+Display:ital@1&family=Tangerine&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 14px 90px;
  color: white;
  font-size: 21px;
  border: 1px white solid;

  // hr {
  //   height: 107px;
  //   // bottom: 611px;
  //   bottom: 733px;
  //   position: absolute;
  //   right: 415px;
  // }

  h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }

  .infoContainer {
    display: flex;
    align-items: center;
    border-left: 1px solid;
    padding-left: 30px;

    p {
      margin: 0 10px 0 0;
    }

    img {
      cursor: pointer;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 0 0 30px;
    }
  }

  h2 {
    margin-left: 700px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}
